### Wrangling of traffic data in Vancouver and merging to Datablocks

In [2]:
import pandas as pd
import numpy as np

### Read BC traffic data

In [7]:
path = '../../data/1_raw/'

traffic_BC = pd.read_csv(path + 'traffic_data/BC_traffic_data_2015_summary.csv')

traffic_BC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1270 entries, 0 to 1269
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STAT           1270 non-null   object
 1   Sort Order     1268 non-null   float64
 2   UTVS           1270 non-null   float64
 3   SiteNo         1270 non-null   object
 4   TMP            1270 non-null   object
 5   Route          1268 non-null   object
 6   Description    1268 non-null   object
 7   Direction      1268 non-null   object
 8   LATITUDE       1270 non-null   float64
 9   LONGITUDE      1270 non-null   float64
 10  Segment        1268 non-null   float64
 11  From Landmark  1268 non-null   object
 12  To Landmark    1268 non-null   object
 13  From           1268 non-null   float64
 14  To             1268 non-null   float64
 15  1994           554 non-null    float64
 16  1995           788 non-null    float64
 17  1996           502 non-null    float64
 18  1997           498 non-null    float64
 19  1998           702 non-null    float64
 20  1999           696 non-null    float64
 21  2000           652 non-null    float64
 22  2001           652 non-null    float64
 23  2002           376 non-null    float64
 24  2003           421 non-null    float64
 25  2004           196 non-null    float64
 26  2005           772 non-null    float64
 27  2006           523 non-null    float64
 28  2007           640 non-null    float64
 29  2008           424 non-null    float64
 30  2009           480 non-null    float64
 31  2010           338 non-null    float64
 32  2011           346 non-null    float64
 33  2012           627 non-null    float64
 34  2013           494 non-null    float64
 35  2014           379 non-null    float64
 36  2015           529 non-null    float64
dtypes: float64(29), object(8)
memory usage: 367.2+ KB

### Only include longtitude, longitude, and newest frequency

In [9]:
traffic_BC = traffic_BC[['LATITUDE','LONGITUDE','2015']]
#traffic_BC.to_csv('../../data/clean/tra.csv', index=False)

      LATITUDE  LONGITUDE     2015
0     48.45658  -123.3835  21640.0
1     48.45658  -123.3835  20713.0
2     48.46267  -123.4419  41641.0
3     48.46267  -123.4419  41675.0
4     48.46459  -123.4759  33017.0
...        ...        ...      ...
1265  54.51048  -126.2991      NaN
1266  49.02041  -118.2184   1365.0
1267  49.66843  -124.9891  15366.0
1268  49.95846  -125.2524   4977.0
1269  55.20543  -129.1434      NaN

[1270 rows x 3 columns]

### Read Vancouver dissemination block data

In [8]:
DBsVan.to_csv('../../data/clean/vancouver_db.csv', index=False)

In [ ]:
DBs = pd.read_csv('../../data/raw/DBs.csv')
DBs = DBs[['DBUID','CMANAME','DBPOP','lat','lon','prox_idx_emp','prox_idx_pharma','prox_idx_childcare','prox_idx_health','prox_idx_grocery','prox_idx_educpri','prox_idx_educsec','prox_idx_lib','prox_idx_parks','prox_idx_transit']]
DBs = DBs.rename(columns = {'DBUID':'id', 'CMANAME':'metropolitan_area', 'DBPOP':'pop','prox_idx_emp':'prox_emp','prox_idx_pharma':'prox_pharma','prox_idx_childcare':'prox_childcare','prox_idx_health':'prox_health','prox_idx_grocery':'prox_grocery','prox_idx_educpri':'prox_educpri','prox_idx_educsec':'prox_educsec','prox_idx_lib':'prox_lib','prox_idx_parks':'prox_parks','prox_idx_transit':'prox_transit'})

DBs

In [ ]:
DBsVan = DBs[DBs['metropolitan_area'] == 'Vancouver']
DBsProx  = DBsVan.drop(columns=['metropolitan_area','lat','lon','pop'])
DBsVan = DBsVan.drop(columns=['metropolitan_area','prox_emp','prox_pharma','prox_childcare','prox_health','prox_grocery','prox_educpri','prox_educsec','prox_lib','prox_parks','prox_transit'])

DBsVan