In [1]:
import requests
import json
import pandas as pd
from datetime import *
import re

# Create a Google places class for webscraping

In [2]:
class GooglePlaces(object):
    def __init__(self, apiKey):
        super(GooglePlaces, self).__init__()
        self.apiKey = apiKey

    def search_places(self,name,inputtype,point):
        endpoint_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
        params = {
            'input': name,
            'inputtype':inputtype,
            'locationbias':point,
            'key': self.apiKey
        }
        res = requests.get(endpoint_url, params = params)
        results =  json.loads(res.content)
        return results
        
    def get_place_details(self, place_id,fields):
        endpoint_url = "https://maps.googleapis.com/maps/api/place/details/json"
        params = {
            'placeid': place_id,
            'fields': ",".join(fields),
            'key': self.apiKey
        }
        res = requests.get(endpoint_url, params = params)
        place_details =  json.loads(res.content)
        return place_details

##### Load the Vancouver Art facilities data

In [3]:
poi = pd.read_csv('../../../data/2_clean/vancouver_facilities.csv')

In [4]:
poi_point=poi["lat"]+","+poi["lon"]

In [5]:
points="point"+":"+poi_point

In [6]:
poi_names=poi["name"]

In [7]:
apiKey="AIzaSyA_O9wNiYYALLuROYMDBUkGTuyr0DlEzU0"

In [8]:
def get_pid(poi_name,apiKey,point):
    """
    get_pid funciton takes two arguments 
    1. names: The Art facilit names 
    2. Google APIkey
    will return a list of place_id
    """
    api = GooglePlaces(apiKey)
    pid=[]
    names=[]
    i=0
    for name in poi_name:
        places = api.search_places(name,"textquery",point[i])
        if places['candidates']!=[]:
            p_id=places['candidates'][0]["place_id"]
            pid.append(p_id)
            names.append(name)
            i=i+1
        else:
            pid.append(0)
            name="can not find"
            names.append(name)
            i=i+1
    df=pd.DataFrame()
    df["poi_name"]=poi_name
    df["names"]=names
    df["pid"]=pid
        
    return df

In [9]:
pid = get_pid(poi_names,apiKey,points)
api = GooglePlaces(apiKey)
api.search_places(poi_names[1],"textquery",points[199])
fields = ['name', 'formatted_address', 'rating','user_ratings_total','opening_hours/weekday_text']

In [12]:
def get_info(pid,fields):
    """
    get_info takes two argument 
    1. pid: place_id where can get it by using get_pid
    2. fields: properties that want to get 
    funciton will return a panda datafram with 4 columns, name, adress, rating and review
    """
    names=[]
    ratings=[]
    reviews_num=[]
    opening_hours=[]
    for id in pid:
        details= api.get_place_details(id,fields)
        if all (k in details['result'] for k in ('rating','user_ratings_total','opening_hours')):
            name=details['result']['name']
            rating=details['result']['rating']
            review_num = details['result']['user_ratings_total']
            opening_hour=details["result"]['opening_hours']['weekday_text']
            names.append(name)
            ratings.append(rating)
            reviews_num.append(review_num)
            opening_hours.append(opening_hour)

        elif 'rating' in details['result']:
            name=details['result']['name']
            rating=details['result']['rating']
            review=0
            n==0
            opening_hour=0
            names.append(name)
            ratings.append(rating)
            opening_hours.append(opening_hour)
            reviews_num.append(n)
        elif 'user_ratings_total' in details['result']:
            name=details['result']['name']
            rating= "no data"
            review_num = details['result']['user_ratings_total']
            n=len(review)
            opening_hour=0
            names.append(name)
            ratings.append(rating)
            reviews_num.append(review_num)
            opening_hours.append(opening_hour)


        else:
            name=details['result']['name']
            rating= "no data"
            review = 0
            n=0
            opening_hour=0
            names.append(name)
            ratings.append(rating)
            reviews_num.append(n)
            opening_hours.append(opening_hour)



    df = pd.DataFrame()
    df["Name"]=names
    df["Rating"]=ratings
    df["Total_Review"]=reviews_num
    df["pid"]=pid
    df["opening_hours"]=opening_hours
    return df

In [89]:
def get_info(pid,fields):
    """
    get_info takes two argument 
    1. pid: place_id where can get it by using get_pid
    2. fields: properties that want to get 
    funciton will return a panda datafram with 4 columns, name, adress, rating and review
    """
    names=[]
    ratings=[]
    reviews_num=[]
    opening_hours=[]
    for id in pid:
        details= api.get_place_details(id,fields)
        if all (k in details['result'] for k in ('rating','user_ratings_total','opening_hours')):
            name=details['result']['name']
            rating=details['result']['rating']
            review_num = details['result']['user_ratings_total']
            opening_hour=details["result"]['opening_hours']['weekday_text']
            names.append(name)
            ratings.append(rating)
            reviews_num.append(review_num)
            opening_hours.append(opening_hour)

        elif all(k in details['result'] for k in ('rating','user_ratings_total')):
            name=details['result']['name']
            rating=details['result']['rating']
            review=details['result']['user_ratings_total']
            opening_hour=0
            names.append(name)
            ratings.append(rating)
            opening_hours.append(opening_hour)
            reviews_num.append(review)

        elif all(k in details['result'] for k in ('rating','opening_hours')):
            name=details['result']['name']
            rating=details['result']['rating']
            review="no data"
            opening_hour=details['result']['opening_hours']
            names.append(name)
            ratings.append(rating)
            opening_hours.append(opening_hour)
            reviews_num.append(review)


        elif all(k in details['result'] for k in ('rating')):
            name=details['result']['name']
            rating= "no data"
            review_num = "no data"
            n=len(review)
            opening_hour=0
            names.append(name)
            ratings.append(rating)
            reviews_num.append(review_num)
            opening_hours.append(opening_hour)


        else:
            name=details['result']['name']
            rating= "no data"
            review = 0
            n=0
            opening_hour=0
            names.append(name)
            ratings.append(rating)
            reviews_num.append(n)
            opening_hours.append(opening_hour)



    df = pd.DataFrame()
    df["Name"]=names
    df["Rating"]=ratings
    df["Total_Review"]=reviews_num
    df["pid"]=pid
    df["opening_hours"]=opening_hours
    return df

In [13]:
pid_list=pid["pid"]
# remove 0s otherwise will result invalid request
pid_list=list(filter(lambda num: num != 0, pid_list)) 
result=get_info(pid_list,fields)
result

In [15]:
#get_info(pid_list[1],fields)
details= api.get_place_details('ChIJo3B9CHFxhlQRCmfgCcpG0BQ',fields)

Merge two dataset together which poi name will match the name in vancouver_facilities

In [16]:
merged=pid.merge(result, on='pid', how='left')
merged=merged[["poi_name","Name","pid","Rating","Total_Review","opening_hours"]]
merged.loc[merged.astype(str).drop_duplicates().index]
merged=merged.loc[merged.astype(str).drop_duplicates().index].reset_index(drop=True)
merged.to_csv("google_reviews_poi.csv",index=False)

In [22]:
df=merged.explode('opening_hours')
df[["Day","Hours"]]=df['opening_hours'].str.split(':', 1, expand=True)
df[["Hour_1","Hour_2","Hour_3"]]=df['Hours'].str.split(',', 2, expand=True)
df[["Hour_1_1","Hour_1_2"]]=df['Hour_1'].str.split(' – ', 2, expand=True)
df=df.reset_index(drop=True)
df.head()

In [28]:
df.Hour_1_1.str.replace("AM", "")
df.Hour_1_1=df.Hour_1_1.str.replace("AM", "").str.lstrip()
df.Hour_1_1=pd.to_datetime(df[~df.Hour_1_1.str.contains("Closed", na=False)].Hour_1_1,errors='coerce')

2021-06-09 09:30:00

In [31]:
L1=df[df.Hour_1_2.str.contains("AM", na=False)].index.tolist()
L2=df[df.Hour_1_2.str.contains("PM", na=False)].index.tolist()
df.iloc[L2, 12]=pd.to_datetime(df.iloc[L2, 12])
df.iloc[L1, 12]=pd.to_datetime(df.iloc[L1, 12])

In [32]:
Total_hour_1=[]
for i in range(len(df.Hour_1_1)):
    if (type(df.Hour_1_1[i]) is pd.Timestamp) & (type(df.Hour_1_2[i]) is pd.Timestamp):
        dif=df.Hour_1_1[i]-df.Hour_1_2[i]
        Total_hour_1.append(abs(dif.total_seconds()/60/60)) # in hours
    else:
        Total_hour_1.append(df.iloc[i, 11])

df["Total_Hour_1"]=Total_hour_1

In [33]:
# clean for Hour_2
df[["Hour_2_1","Hour_2_2"]]=df['Hour_2'].str.split(' – ', 2, expand=True)
df.Hour_2_1=df.Hour_2_1.str.replace("PM", "").str.lstrip()
df.Hour_2_1=df[df.Hour_2_1.str.contains(r'\b\d+\b', na=False)].Hour_2_1+" "+"PM"
df.Hour_2_1=pd.to_datetime(df[df.Hour_2_1.str.contains(r'\b\d+\b', na=False)].Hour_2_1,errors='coerce')
df.Hour_2_2=pd.to_datetime(df[df.Hour_2_2.str.contains(r'\b\d+\b', na=False)].Hour_2_2,errors='coerce')

In [38]:
Total_hour_2=[]
for i in range(len(df.Hour_2_1)):
    if (type(df.Hour_2_1[i]) is pd.Timestamp) & (type(df.Hour_2_2[i]) is pd.Timestamp):
        dif=df.Hour_2_1[i]-df.Hour_2_2[i]
        Total_hour_2.append(abs(dif.total_seconds()/60/60)) # in hours
    else:
        Total_hour_2.append(df.iloc[i, 14])

df["Total_Hour_2"]=Total_hour_2

In [39]:

# clean for Hour_3
df[["Hour_3_1","Hour_3_2"]]=df['Hour_3'].str.split(' – ', 2, expand=True)
df.Hour_3_1=df[df.Hour_3_1.str.contains(r'\b\d+\b', na=False)].Hour_3_1+" "+"PM"
df.Hour_3_1=pd.to_datetime(df[df.Hour_3_1.str.contains(r'\b\d+\b', na=False)].Hour_3_1,errors='coerce')
df.Hour_3_2=pd.to_datetime(df[df.Hour_3_2.str.contains(r'\b\d+\b', na=False)].Hour_3_2,errors='coerce')

In [43]:
Total_hour_3=[]
for i in range(len(df.Hour_3_1)):
    if (type(df.Hour_3_1[i]) is pd.Timestamp) & (type(df.Hour_3_2[i]) is pd.Timestamp):
        dif=df.Hour_3_1[i]-df.Hour_3_2[i]
        Total_hour_3.append(abs(dif.total_seconds()/60/60)) # in hours
    else:
        Total_hour_3.append(df.iloc[i, 17])

df["Total_Hour_3"]=Total_hour_3

In [44]:
df["Total_Hour_1"].fillna(0,inplace=True)
df["Total_Hour_2"].fillna(0,inplace=True)
df["Total_Hour_3"].fillna(0,inplace=True)

In [45]:
df["Total_hours"]=df["Total_Hour_1"]+df["Total_Hour_2"]+df["Total_Hour_3"]

In [47]:
table=df.groupby('poi_name')["Total_hours"].agg([('Total_hours','sum')])

In [48]:
day_1=df.groupby('poi_name')["Day"].count()

In [49]:
day_1[(day_1 > 7)]

poi_name
Library    14
Name: Day, dtype: int64

In [73]:
day_closed=df[df.Hours.str.contains('Closed', na=True)].groupby('poi_name')["Hours"].count()

In [75]:
open_days=day_1.sub(day_closed,fill_value=0)

In [76]:
df_open=open_days.to_frame()
df_open["poi_name"]=df_open.index
df_open.reset_index(drop=True,inplace=True)
df_open.columns = ['open_days', 'poi_name']
table['poi_name'] = table.index
table=table.reset_index(drop=True)
merged_2=merged.merge(table, on='poi_name', how='left')
merged_2.loc[merged_2.astype(str).drop_duplicates().index].reset_index(drop=True)

In [84]:
result=merged_2.merge(df_open, on='poi_name', how='left')
result=result[["poi_name","Name","pid","Rating","Total_Review","opening_hours","open_days","Total_hours"]]
result.to_csv("../../../data/2_clean/amenity_weights/amenity_google_data.csv",index=False)

In [107]:
result

,poi_name,Name,pid,Rating,Total_Review,opening_hours,open_days,Total_hours
0,12 Service Battalion Museum,39 Service Battalion (12 Company) Richmond,ChIJhwQHwzh1hlQRJdE3ZdQPI9I,4.8,9.0,"[Monday: 9:30 AM – 4:00 PM, Tuesday: 9:30 AM –...",5.0,35.5
1,15th Field Artillery Regiment Museum And Archives,15th Field Artillery Regiment (RCA),ChIJpdEUnLBzhlQR0ome6cv5el8,5,4.0,"[Monday: Closed, Tuesday: Closed, Wednesday: 7...",1.0,15.0
2,221A Artist Run Centre,Access Artist-Run Centre,ChIJI_kXTHdxhlQRjSihNhSkWjw,4.5,2.0,"[Monday: 10:00 AM – 6:00 PM, Tuesday: 10:00 AM...",7.0,62.0
3,7302754 Canada Inc,NaN,0,NaN,NaN,NaN,0.0,0.0
4,Abc Heritage Preschool And Child Care,ABC Preschool Academy,ChIJF3ZMao7RhVQRYMRn09PBo34,no data,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...
437,Wise Club Hall,The Wise,ChIJozmE7T1xhlQRt-UlKOC-wz4,4.5,252.0,"[Monday: 5:00 PM – 1:00 AM, Tuesday: 5:00 PM –...",7.0,111.0
438,Woodward's Atrium,Woodward's 43,ChIJo8K5knlxhlQRBkyzjcK92Bg,4.3,0.0,0,0.0,0.0
439,York Theatre,"York Theatre, The Cultch",ChIJQY5X1xVxhlQRXcRkTyGbCbs,4.5,0.0,0,0.0,0.0
440,Yuk Yuk's Comedy Club,Yuk Yuk's Comedy Club Vancouver,ChIJuycZ1-dzhlQRSZsBQvvwklo,4.4,0.0,0,0.0,0.0
441,Zemi Cultural Heritage Services,NaN,0,NaN,NaN,NaN,0.0,0.0